<div class="container">
  <div class="jumbotron">
    <p class="lead">Bon Voyage </p>
    <h1 class="display-4">Cab Booking Application</h1>

    <hr class="my-5">

    <div class="form-inline my-8 my-lg-9">
      <button class="btn btn-primary my-2 my-sm-0" [routerLink]="['/login/customer']">Login</button>
      &nbsp;
      <button class="btn btn-info my-2 my-sm-0" [routerLink]="['/signup/customer']">Sign up</button>
    </div>
  </div>
  <a >
    <img src="assets/howitworks.PNG" width="1100">
  </a>

</div>
